.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1400px;
  margin: 0px auto 0px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -10px 0px 25px rgb(162, 162, 162);



}

.logo-mobile {
  display: none;
}

.info-container {
  place-items: flex-start;
  place-content: center;
  display: grid;
  gap: 40px;
  padding: 60px 80px 20px;
}

.info-container p {
  max-width: 40ch;
}

.info-container input {
  position: relative;
}

.info-container input[type="email"] {
  padding: 8px;
  width: calc(100% - 20px - 30px);
  border-radius: 20px;
  border: 1px solid var(--cor-1);
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
}

.info-container input[type="submit"] {
  position: absolute;
  padding: 10px;
  color: #f4f4f4;
  min-width: 60px;
  border-radius: 16px;
  border: none;
  background: linear-gradient(135deg, rgba(248, 191, 191, 1) 0%, rgba(238, 140, 140, 1) 100%);
  right: 1px;
  top: 0px;
  box-shadow: 1px 0px 7px var(--cor-1);


}

.info-container input[type="submit"]:hover {
  background: linear-gradient(135deg, rgba(244, 244, 244, 1) 0%, rgba(255, 245, 245, 1) 100%);
  color: var(--cor-1);
}

.form-email {
  justify-self: stretch;
  position: relative;

}

.bg {
  background-image: url("../../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.picture-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}




@media(max-width:1000px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:800px) {
  .main {
    grid-template-columns: 1fr;
  }
  .info-container h1{
    
    font-size: 4rem;
  }

  .picture-main {
    max-height: 400px;

  }

  .picture-main img {

    object-fit: cover;
    object-position: top;
  }

  .logo-mobile {
    display: block;
  }

  .logo-desktop {
    display: none;
  }

  .picture-main {
    order: -1;
  }

  .logo-mobile {
    background-color: #f4f4f4;
    order: -5;
    padding: 40px;
  }

  .info-container {
    justify-items: center;
  }

  .info-container {
    padding: 60px 20px;


  }
}

@media (max-width:400px){
  .info-container h1{
    font-size: 3.1rem;
  }
}